.ec-weather-widget {
    max-width: 300px;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #fff;
    font-family: sans-serif;
}

.ec-weather-widget h1 {
    font-size: 12pt;
    font-weight: bold;
    margin: 0;
    padding: 0;
    line-height: normal;
    margin-bottom: 5px;
}
.ec-weather-widget h1 a {
    text-decoration: none;
    color: #999;
}
.ec-current-weather {
    overflow: auto;
    text-align: center;
}
.ec-weather-icon {
    float: left;
    width: 25%;
}
.ec-temp-wind {
    float: left;
    width: 75%;
    overflow: hidden;
}
.ec-temp {
    font-weight: bold;
    font-size: 25px;
}

.ec-wind {
    font-size: 12px;

}

.ec-forecast {
    overflow: auto;
    padding-top: 10px;
    margin-top: 5px;
    border-top: 1px solid #ccc;
}

.ec-toggle-forecast a, .ec-toggle-forecast a:active {
    display: block;
    text-align: center;
    line-height: 14px;
    outline: 0;
    text-decoration: none;
    color: #999;
}

.ec-toggle-forecast a:hover {
    background-color: #ddd;
    text-decoration: none;
    outline: 0;
    color: #999;
    
}

.ec-forecast-container {
    overflow: hidden;
    float: left;
    width: 33%;
    font-size: 12px;
    text-align: center;
    line-height: normal;
}

.ec-forecast-container:nth-child(even) {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    margin-left: -1px;
    margin-right: -1px;
}

.ec-forecast-icon {
    margin-top: 4px;
}

.ec-warning {
    float: right;
    width: 20px;
    height: 20px;
    text-align: center;
    font-weight: bold;
}

.ec-warning a, .ec-warning a:visited {
    color: #fff;
    text-decoration: none;
    display: block;;
}

.ec-warning.warning {
    background-color: #c00;
}

.ec-warning.statement {
    background-color: #aaa;
}

.ec-warning.watch {
    background-color: #fc0;
}

.ec-warning.watch a, .ec-warning.watch a:visited {
    color: #000;
}

.ec-warning.ended {
    background-color: #cf9;
}

.ec-warning.ended a, .ec-warning.ended a:visited {
    color: #000;
}

@media screen and (max-width: 1024px) {
    .ec-forecast-summary {
        display: none;
    }
    .ec-temp {
        font-size: 18px;
    }
}

